$blue-600: #061e2d; /* heading, teams bar */
$blue-500: #2e414e; /* teams sidebar block default color */
$blue-400: #03569d; /* topnav color */
$blue-300: #5f7d95; /* text color, Teams sidebar active team border */
$blue-200: #a4c2db; /* top nav text color */

$orange-400: #ff9a00; /* button color */

$turquoise-400: #00bcb4; /* check marks in plan selection */

$gray-300: #a6b8c7;
$gray-200: #e3e9ee; /* borders */
$gray-100: #ebeff3; /* button color, */
