$map: (
    'blue-600': '203deg, 76%, 10%',
    'blue-400': '208deg, 96%, 31%',
    'blue-300': '207deg, 22%, 48%',
    'blue-200': '207deg, 43%, 75%',

    'blue-100': '207deg, 44%, 94%',
    'orange-500': '36deg, 100%, 48%',
    'orange-400': '36deg, 100%, 50%',
    'turquoise-400': '177deg, 100%, 37%',
    'turquoise-100': '177deg, 60%, 94%',
    'gray-300': '207deg, 24%, 72%',
    'gray-200': '207deg, 24%, 91%',
    'gray-100': '210deg, 25%, 94%',
    'white': '0deg, 0%, 100%',
    'black': '0deg, 0%, 0%',
);

//#BDCBD7 input border color
