@use "~scss/abstracts/_colors.scss";

.top-nav {
    @apply flex items-center bg-blue-400 relative;
    height: 4.5rem;

    .top-nav-logo-sm {
        margin-top: -0.5rem;
        height: 30px;
        @apply hidden;

        @screen lg {
            @apply block;
        }

        @screen xl {
            @apply hidden;
        }
    }

    .top-nav-logo-lg {
        margin-top: -0.5rem;
        height: 30px;
        @apply block;

        @screen lg {
            @apply hidden;
        }

        @screen xl {
            @apply block;
        }
    }

    .btn {
        @apply ml-2;
        @apply text-white;
        @apply text-opacity-60;

        &:hover {
            svg {
                @apply text-orange-400;
            }
        }
    }

    .router-link-active.btn {
        @apply text-opacity-90;
        @apply bg-black;
        @apply bg-opacity-20;

        svg {
            @apply text-orange-400;
        }
    }

    .mobile-menu {
        @apply ml-auto;

        .btn {
            @apply ml-0;
        }
    }
}